<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<!-- 수정 필요 -->
		<mapper resource="mybatis/mappers/board/boardCommentMapper.xml"/>
		<mapper resource="mybatis/mappers/board/boardMapper.xml"/>
		<mapper resource="mybatis/mappers/user/userMapper.xml"/>
		<mapper resource="mybatis/mappers/admin/noticeMapper.xml"/>
		<mapper resource="mybatis/mappers/book/bookMapper.xml"/>
		<mapper resource="mybatis/mappers/book/bookReviewMapper.xml"/>
		<mapper resource="mybatis/mappers/book/bookRecommendMapper.xml"/>
		<mapper resource="mybatis/mappers/book/bookWishlistMapper.xml"/>
		<mapper resource="mybatis/mappers/utilMapper.xml"/>
		<mapper resource="mybatis/mappers/trade/TradePostMapper.xml"/>
		<mapper resource="mybatis/mappers/trade/TradeFavoriteMapper.xml"/>
		<mapper resource="mybatis/mappers/trade/TradeReviewMapper.xml"/>
		<mapper resource="mybatis/mappers/admin/adminActivityLogMapper.xml"/>
		<mapper resource="mybatis/mappers/trade/chat/ChatRoomMapper.xml"/>
		<mapper resource="mybatis/mappers/trade/chat/ChatMessageMapper.xml"/>
		<mapper resource="mybatis/mappers/user/socialUserMapper.xml"/>
		<mapper resource="mybatis/mappers/NotificationMapper.xml"/>
	</mappers>
</configuration>