<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.trade.dao.TradeReviewDAO">

	<select id="getChatUser" parameterType="int" resultType="com.boot.chat.dto.ChatRoomRequest">
	    SELECT 
	        cr.ROOMID,
	        cr.POSTID,
	        cr.SELLERNUMBER,
	        cr.BUYERNUMBER AS buyerNumber,
	        u.USERNAME AS buyerName
	    FROM TRADE_CHATROOM cr
	    JOIN USERINFO u ON u.USERNUMBER = cr.BUYERNUMBER
	    WHERE cr.POSTID = #{postId}
	</select>

	<insert id="insertTradeRecord">
	INSERT INTO TRADE_RECORD (
		RECORD_ID, 
	    POSTID, 
	    SELLERNUMBER,
	    BUYER_NUMBER,
	    STATUS, 
	    CREATEDAT
	    )
	VALUES
	    (
	    SEQ_TRADE_RECORD_ID.NEXTVAL, 
	    #{postId},
	    #{userNumber},
	    #{targetUserId},
	    'SOLD', 
	    SYSDATE)
	</insert>

    <select id="getTags" resultType="com.boot.trade.dto.TradeTagsDTO">
		SELECT
		   TAG_CODE AS tagCode,
		   TAG_TYPE AS tagType,
		   TAG_LABEL AS tagLabel,
		   TAG_EXPLAN AS tagExplan
		FROM TRADE_TAG_MASTER
    </select>

  <insert id="insertReviewTags">
    INSERT INTO TRADE_REVIEW_TAG
      (TAG_ID, POSTID, TAG_CODE, TRADE_RECORD_ID, REVIEWER_ID, REVIEWEE_ID, TAG_TYPE, TAG_LABEL, STATUS, CREATED_AT)
    SELECT
      SEQ_TRADE_REVIEW_ID.NEXTVAL,
      #{postId},
      tm.TAG_CODE,
      #{tradeRecordId},
      #{reviewerId},
      #{revieweeId},
      tm.TAG_TYPE,
      tm.TAG_LABEL,
      'Y',
      SYSDATE
      FROM TRADE_TAG_MASTER tm
     WHERE tm.TAG_CODE IN
      <foreach collection="tagCodes" item="code" open="(" separator="," close=")">
        #{code}
      </foreach>
  </insert>

    <select id="getTopTags" resultType="com.boot.trade.dto.TradeReviewDTO">
		SELECT TAG_LABEL as tagLabel, CNT
		FROM (
		  SELECT TAG_LABEL, COUNT(*) AS CNT
		  FROM TRADE_REVIEW_TAG
		  WHERE REVIEWEE_ID = #{userNumber}
		    AND TAG_TYPE = 'GOOD'
		  GROUP BY TAG_LABEL
		  ORDER BY COUNT(*) DESC, TAG_LABEL
		)
		<![CDATA[
		WHERE ROWNUM <= 3
		]]>
    </select>
    
    
    <select id="getUserTagStatistics" resultType="com.boot.trade.dto.TradeReviewDTO">
	    SELECT 
	        tm.TAG_CODE,
	        tm.TAG_LABEL as tagLabel,
	        COUNT(*) AS cnt
	    FROM TRADE_REVIEW_TAG tl
	    JOIN TRADE_TAG_MASTER tm ON tm.TAG_CODE = tl.TAG_CODE
	    WHERE tl.REVIEWEE_ID = #{userNumber}
	    GROUP BY tm.TAG_CODE, tm.TAG_LABEL
	    ORDER BY COUNT(*) DESC
	</select>
<!-- ㄴㅁㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴㅇㄹ -->

    <!-- ✅ 6. 동일 거래에 같은 리뷰어가 이미 평가했는지 -->
    <select id="alreadyReviewed" resultType="int">
        SELECT COUNT(*)
        FROM TRADE_TAG_LOG
        WHERE TRADE_RECORD_ID = #{tradeRecordId}
        AND REVIEWER_ID = #{reviewerId}
    </select>


    <!-- ✅ 7. 거래 완료 여부 확인 -->
    <select id="isTradeCompleted" resultType="int">
        SELECT COUNT(*)
        FROM TRADE_RECORD
        WHERE TRADE_RECORD_ID = #{tradeRecordId}
        AND STATUS = 'COMPLETED'
    </select>

</mapper>
